:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	min-height: 100vh;
	height: 100%;
	min-width: 100vw;
	width: 100%;
}

body,
#root {
	height: 100%;
	width: 100%;
}

.pos-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.main-panel {
	display: flex;
	border-radius: 15px;
	background-color: #332d2d;
	height: 80%;
	width: 100%;
	flex-direction: row;
	color: #eeeeee;
	padding: 0;
}

.chats-menu {
	/* width: 30%; */
	margin: 0;
	padding: 19px 30px;
	max-width: 380px;
	border-right: 1px solid #1e1e1e;
	overflow-y: auto;
}

.chats-menu a {
	width: 100%;
	margin-bottom: 7.5px;
	text-align: center;
	border: 1px solid #44ad57;
	border-radius: 5px;
}

.chat {
	width: 100%;
	padding: 7.5px 0;
	border-top: 1px solid #1e1e1e;
}

.chat:last-of-type {
	border-bottom: 1px solid #1e1e1e;
}

.chat-window {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-grow: 1;
	background-image: url(/img/bg.jpg);
	background-size: cover;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.chat-window .top {
	flex-grow: 1; /* Занимает всю доступную высоту */
	/* background-color: lightblue; */
	border-top-right-radius: 15px;
}

.chat-window .bottom {
	height: 50px; /* Фиксированная высота */
	/* background-color: lightcoral; */
	/* border-radius: 15px; */
	border-bottom-right-radius: 15px;
}
